@font-face {
    font-family: 'TT Lakes Medium';
    src: url('Fonts/TTLakes-Medium.woff')
}
@font-face {
    font-family: 'TT Lakes Bold';
    src: url('Fonts/TTLakes-Bold.woff')
}
.menu-container{
    width: 100%;
    min-width: 320px;
    height: 100%;
    background-color: #f2f2f2;
}

.menu{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    width: 320px;
    height: 1024px;
    min-height: 100%;
    background-color: #ffffff;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);}

.header{
    display: flex;
    align-items: center;
    height: 90px;
    padding:0 24px ;
}
.button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    border: 0;
}
.button--close{
    background-image: url(img/header/close.png);
}
.menu__logo{
    margin-left: 16px;
}
.button--search{
    background-image: url(img/header/search.png);
}
.header__search-button{
    margin-left: auto;
}

.nav__list{
    list-style-type: none;
    padding: 0;
}
.nav__item{
    margin-bottom: 8px;
    display: flex;
}

.nav__link {
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
    padding: 8px ;
    margin-left: 18px;
    text-decoration: none;
    color: #1B1C21;
    font-family: "TT Lakes Medium",sans-serif;
    transition: color 0.4s ease-in;
}

.nav__link:hover{
    color:#7E7E82
}
.nav__link--active{
    color:#7E7E82
}

.nav__item--active:before{
    content: '';
    position: absolute;
    top:125px;
    left:8px;
    height: 32px;
    width: 4px;
    background-color:#41F6D7;
    border-radius: 3px;
}
.button--call{
    background-image: url(img/header/call.png);
}
.button--chat{
    background-image: url(img/header/chat.png);
}
.button--profile{
    background-image: url(img/header/profile.png);
}
.menu__footer{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding: 0 24px 32px 24px;
}
.contact-list{
    display: flex;
    list-style-type: none;
    padding: 0;
}
.contact-list__item{
    margin-left: 0px;
    margin-right: 16px;
    padding: 0;
}
.footer__email{
    margin-top: 16px;
    text-decoration: none;
    color:#1B1C21;
    font-family:'TT Lakes Medium', sans-serif;
}

.footer__phone{
    margin-top: 12px;
    text-decoration: none;
    color: #1B1C21;
    font-family: 'TT Lakes Bold', sans-serif;
    font-size:24px;
    line-height: 32px;
    letter-spacing: -0.6px;
}

.footer__lang{
    margin-top: 40px;
}

.lang{
    display: flex;
    padding: 0;
    font-family:'TT Lakes Medium', sans-serif;
}

.lang__item{
    list-style-type: none;
    margin-right: 8px;
}

.lang__link{
    text-decoration: none;
    color: #1B1C21;
}

.lang__link--active{
    color: #7E7E82;
}
.lang__link:hover{
    color: #7E7E82;
}