@font-face {
    font-family: 'TT Lakes';
    src: url('Fonts/TTLakes-Medium.woff')
}

body {
    min-width:320px;
    font-family: 'TT Lakes Condensed';
    height:597px;
    margin: 0;
}

.header {
    height: 88px;
    display:flex;
    background-color: ffffff;
    align-items: center;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid pink;
}

.header__menu-btn{
    display: flex;
    align-items: center;  
}
.button--burger-menu{
    background-image: url(img/header/burger.png);
}
.button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    border: 0;
}

.header__logo{
    margin-left: 16px;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
}
.logo::before{
    content: '';
    background-image: url(img/divider.png);
    height: 30px;
    width: 2px;
    padding: 0;
    margin-right: 16px;

}
.header__contact-list{
    display: none;
}
.contact-list__item{
    list-style-type: none;
}

.button--call{
    background-image: url(img/header/call.png);
}
.button--chat{
    background-image: url(img/header/chat.png);
}
.button--profile{
    background-image: url(img/header/profile.png);
}
.button--repair{
    background-image: url(img/header/repair.png);
}
.button--checkstatus{
    background-image: url(img/header/checkstatus.png);
}
.info-list{
    display: flex;
    align-items: center;
}
.info-list__item{
    list-style-type: none;   
}
.info-list__item:first-child{
    margin-right: 16px;
}
.info-list__title{
    display: none;
}
.main {
    height:509px;    
    background-color: f8f8f8;
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
}
.header__info-buttons{
    margin-left: auto;
    padding: 0;
}
.title::before{
    content: '';
    background-image: url(img/highlight.png);
    height: 40px;
    width: 4px;
    margin-right: 16px;
}
.main__title{
    margin-bottom:0px;
    margin-top: 24px;
    display: flex;
}
.title {
    font-family: TT Lakes ;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.6px;
}
.main__nav{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.nav__list {
    display:flex;
    overflow: hidden;
    overflow-x: scroll;
    flex-wrap: nowrap;
    list-style-type: none;
}
.nav__item{
    padding: 10px;
    margin-left: -20px;
}
.nav__link{
    padding: 8px;
    background-color:f8f8f8;
    border: none;
    cursor: pointer;
    padding-left: 16px;
    padding-right: 20px;
    font-family: TT Lakes;
    font-size:16px;
    line-height: 24px;
    letter-spacing: -0.2 px;
    color: #7E7E82;
    white-space: nowrap;
    text-decoration: none;
}
.nav__link--active{
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    box-sizing: border-box;
    border-radius: 6px;

}

.article__content-inner{
   height:90px;
   margin-left: 16px;
   margin-right: 16px;
   overflow: hidden;
   margin-bottom: 16px;
   padding-bottom: 16px;
}

.article__text {
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
}

.next-button::before{
    content: '';
    background: url(img/expand.png) no-repeat;
    height: 10px;
    width: 5px;
    padding: 5px;
    margin-left: 8px;
    display: flex;
    margin-right: 16px;
}

.next-button{
    background-color: #f8f8f8;
    border: none;
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    display: flex;
    padding: 0;
}

.article__read-all-text {
    
}

.article__image{
    width: 100%;
    margin-top: 16px;
    
}
.img-logo{
    width: 100%;

}

@media screen and (min-width: 768px) {
    body {
        font-family: 'TT Lakes Condensed';
        min-width: 768px;;
    }
    .header{
        height:88px;
        background-color: #FFFFFF;
        display: flex;
        align-content: center;
    }
    .contact-list {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
    }
    .contact-list__item{
        margin-right: 16px;
    }
    .contact-list::after {
        content: '';
        background-image: url(img/divider.png);
        height: 40px;
        width: 2px;
        padding: 0;
        margin-right: 16px;
    }
    .contact-list__button{
        display: flex;
    }
    .main {
        height:416px;    
        background-color: f8f8f8;
        display:flex;
        flex-wrap: wrap;
        width:100%;
    }
    .main__title{
        margin-left: 24px;
    }
    .main__title::before{
        margin-left: -24px;
        margin-right: 24px;
    }
    .nav__list{
        overflow: hidden;
        overflow-x: scroll;
    }
    .main__article {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        justify-content: space-between;
        width: 100%;
    }
    .article__content{
        margin-left: 10px;
    }
    .article__content-inner{
        height:160px;
        margin-left: 16px;
        margin-right: 16px;
        width: 312px;
        overflow: hidden;
        padding: 5px;
     }
     
     .article__text {
        font-family: TT Lakes;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        
    }
    
    .article__image {
        width: 320px;
        height: 260px;
        margin-top: 16px;
        margin-left: auto;
        background: #F8F8F8;
        border-radius: 6px;
        margin-right: 16px;
    } 
    
}

@media screen and (min-width: 1120px) {
    body {
        font-family: 'TT Lakes Condensed';
        min-width: 1120px;
        height: 535px;
        background: #F8F8F8;
    }
   
    .header{
        height:0;
    }
    .header__menu-btn{
        display: none;
    }
    .logo{
        display: none;
    }
    .contact-list{
        display: none;
    }
    .info-list{
        display: flex;
        position: absolute;
        z-index: 1;
        top: 8px;
        right: 24px;
    }
    .info-list__item{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    
    .info-list__label{
        display: flex;
        text-decoration: none;
    }
    .info-list__title{
        display: flex;
        margin-top: 8px;
        margin-right: 8px;
        font-family: TT Lakes;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }
    .main__title{
        margin-left: 20px;
    }
    .main__title::before{
        margin-left: -20px;
        margin-right: 20px;
    }
    .nav__list{
        overflow: hidden;
        flex-wrap: wrap;
    }
    .nav__item{
        margin-top: 5px;
    }
    .article__content{
        margin-left: 14px;
    }
    .article__content-inner{
        height:160px;
        margin-left: 16px;
        margin-right: 16px;
        width: 490px;
        overflow: hidden;
     }    
   .article__image{     
        width: 531px;
        height: 383px;
        margin-top: 16px;
        margin-left: auto;
        background: #F8F8F8;
        border-radius: 6px;
        margin-right: 16px;
    } 
    .img-logo{
        background: #F8F8F8;
        border-radius: 6px; 
        width: 531px;
        height: 307px;
    }
}